<div class="container-fluid" style="padding-top: 20px">
  <div class="row">
    <div class="col-md-12">
      <nav class="my-nav1">
        <div class="container-fluid">
          <ul class="my-ul">
            <a class="brand my-font-bold" href="#">Navbar</a>
            <li><a class="my-il" href="#">Home</a></li>
            <li><a class="my-il" href="#">Features</a></li>
            <li><a class="my-il" href="#">Contact</a></li>
            <li><a class="my-il" href="#">About</a></li>
          </ul>
        </div>
      </nav>   <br>

    </div>

    <div class="col-md-12">
      <nav class="my-nav2">
        <div class="container">
          <ul class="my-ul">
            <a class="brand2 my-font-bold" href="#">Navbar</a>
            <li><a class="my-il" href="#">Home</a></li>
            <li><a class="my-il" href="#">Features</a></li>
            <li><a class="my-il" href="#">Contact</a></li>
            <li><a class="my-il" href="#">About</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
