<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="my-button1 my-button1-primary">Primary</button>&nbsp;
      <button class="my-button1 my-button1-secondary">Secondary</button>&nbsp;
      <button class="my-button1 my-button1-success">Success</button>&nbsp;
      <button class="my-button1 my-button1-danger">Danger</button>&nbsp;
      <button class="my-button1 my-button1-warning">Warning</button>&nbsp;
      <button class="my-button1 my-button1-info">Info</button>&nbsp;
      <button class="my-button1 my-button1-light">Light</button>&nbsp;
      <button class="my-button1 my-button1-dark">Dark</button>
    </div>
    <div class="col-md-12">
      <button class="my-button2 my-button1-primary">Primary</button>&nbsp;
      <button class="my-button2 my-button1-secondary">Secondary</button>&nbsp;
      <button class="my-button2 my-button1-success">Success</button>&nbsp;
      <button class="my-button2 my-button1-danger">Danger</button>&nbsp;
      <button class="my-button2 my-button1-warning">Warning</button>&nbsp;
      <button class="my-button2 my-button1-info">Info</button>&nbsp;
      <button class="my-button2 my-button1-light">Light</button>&nbsp;
      <button class="my-button2 my-button1-dark">Dark</button>
    </div>
    <div class="col-md-12">
      <button class="my-button3 my-button1-primary">Primary</button>&nbsp;
      <button class="my-button3 my-button1-secondary">Secondary</button>&nbsp;
      <button class="my-button3 my-button1-success">Success</button>&nbsp;
      <button class="my-button3 my-button1-danger">Danger</button>&nbsp;
      <button class="my-button3 my-button1-warning">Warning</button>&nbsp;
      <button class="my-button3 my-button1-info">Info</button>&nbsp;
      <button class="my-button3 my-button1-light">Light</button>&nbsp;
      <button class="my-button3 my-button1-dark">Dark</button>
    </div>
    <div class="col-md-12">
      <button class="my-button4 my-button1-outline-primary">Primary</button
      >&nbsp;
      <button class="my-button4 my-button1-outline-secondary">Secondary</button
      >&nbsp;
      <button class="my-button4 my-button1-outline-success">Success</button
      >&nbsp;
      <button class="my-button4 my-button1-outline-danger">Danger</button>&nbsp;
      <button class="my-button4 my-button1-outline-warning">Warning</button
      >&nbsp;
      <button class="my-button4 my-button1-outline-info">Info</button>&nbsp;
      <button class="my-button4 my-button1-outline-light">Light</button>&nbsp;
      <button class="my-button4 my-button1-outline-dark">Dark</button>
    </div>
    <div class="col-md-12">
      <button class="my-button2 my-button1-primary my-button-sm">Button</button
      >&nbsp;
      <button class="my-button2 my-button1-primary my-button-md">Button</button
      >&nbsp;
      <button class="my-button2 my-button1-primary my-button-xl">Button</button
      >&nbsp;
    </div>

    <div class="col-md-12">
      <button class="my-button2 my-button1-primary my-button-block">
        Block Button
      </button>
      <hr />
      <button class="my-button2 my-button1-info my-button-block">
        Block Button
      </button>
    </div>

    <div class="col-md-12">
      <button class="my-button2 my-button1-info my-button-icon">
        <i class="fa fa-twitter"></i></button
      >&nbsp; <button class="my-button2 my-button1-danger my-button-icon">
        <i class="fa fa-youtube"></i></button
      >&nbsp;<button class="my-button2 my-button1-outline-dark my-button-icon">
        <i class="fa fa-github"></i></button
      >&nbsp;
    </div>
  </div>
</div>
