.my-toolBar {
  padding: 8px;
  background: #3fd2d6;
  background: -webkit-linear-gradient(top left, #3fd2d6, #ffffff);
  background: -moz-linear-gradient(top left, #3fd2d6, #ffffff);
  background: linear-gradient(to bottom right, #3fd2d6, #ffffff);
  margin-bottom: 10px;
  margin-top: 10px;
}
