<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="my-card1 my-10-radius">
        <h4>Title of Card</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur Necessitatibus <br />
          sit eaque, autem consectetur similique dicta.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="my-card2 my-back my-color">
        <h4>Title of Card</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur Necessitatibus <br />
          sit eaque, autem consectetur similique dicta.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="my-card3 my-20-radius">
        <h4>Title of Card</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur Necessitatibus <br />
          sit eaque, autem consectetur similique dicta.
        </p>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="my-card4 my-10-radius">
        <img src="../../assets/background-card1.jpg" width="100%" alt="" />
        <div class="my-card-content">
          <h4>Title of Card</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur Necessitatibus <br />
            sit eaque, autem consectetur similique dicta.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="my-card5">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/background-card3.jpg" width="100%" alt="" />
            Source: <u>Unsplash</u>
          </div>
          <div class="col-md-6">
            <div class="my-padding1">
              <h4>Title of Card</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur Necessitatibus sit eaque,
                autem consectetur similique dicta.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
