<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="my-alert my-alert-primary">
        A simple primary alert—check it out!
      </div>
      <br />
      <div class="my-alert my-alert-secondary">
        A simple secondary alert—check it out!
      </div>
      <br />
      <div class="my-alert my-alert-success">
        A simple success alert—check it out!
      </div>
      <br />
      <div class="my-alert my-alert-dark">
        A simple dark alert—check it out!
      </div>
      <br />
      <div class="my-alert my-alert-warning">
        A simple Warning alert—check it out!
      </div>
      <br />
      <div class="my-alert my-alert-warning">
        <h3 class="my-font-bold">Title of the Warning</h3>
        <hr />
        <p class="my-font-bold">
          Explication : Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Cum, laborios.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="my-note my-note-primary">
        <span class="my-font-bold"> Note Primary:</span> Lorem, ipsum dolor sit
        amet consectetur adipisicing elit.
      </div>
      <br />
      <div class="my-note my-note-success">
        <span class="my-font-bold"> Note Success:</span> Lorem, ipsum dolor sit
        amet consectetur adipisicing elit.
      </div>
      <br />
      <div class="my-note my-note-warning">
        <span class="my-font-bold"> Note Warning:</span> Lorem, ipsum dolor sit
        amet consectetur adipisicing elit.
      </div>
    </div>
  </div>
</div>
